* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Harmattan", sans-serif;
  font-size: 10px;
  padding: 5em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 768px) {
  body {
    padding: 2em;
  }
}